$color: white;
$body-color: rgb(20,89,241);
div{
    margin: auto;
    width: 50%;
    border: 3px solid null;
    padding: 10px;

    font-size: 15px;
    font-family: "Lucida Console", "Courier New", monospace;
    color: $color;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
h1{
    text-align:center;
    font-style: italic;
    font-size: 50px;
    color: $color;
}
body{
    background: $body-color;
    background: linear-gradient(9deg, rgba(20,89,241,1) 36%, rgba(245,209,209,1) 53%);
}
p{
    color: $color;
}
a{
    color: $color;
}